@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --font-color: #2b2b2b;
    --bg-color: white;
}

.app-container {
    width: 25vw;
    min-width: 300px;
    min-height: 200px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    box-shadow: var(--font-color) 1px 1px 4px;
}
