:root {
    --default-font-color: #2b2b2b;
    --default-bg-color: #f5f5f5;
}

.app-container {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
}

.status {
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 20px 0;
}

.status .status__icon {
  animation: mic-animation 2s infinite;
  font-size: 2.2em;
  padding-right: 15px;
}

@keyframes mic-animation {
  0% {color: var(--default-font-color);}
  50% {color: #b20000;}
  100% {color: var(--default-font-color);}
}

.options__label {
  padding-right: 10px;
  font-size: 1.1em;
  color: var(--default-font-color);
  font-weight: 100;
}

.options__input {
    background: var(--default-bg-color);
    border: 1px solid var(--default-bg-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 100;
    color: var(--default-font-color);
    outline: 0;
    transition: all 300ms linear;
}

.options__input:hover,
.options__input:active
.options__input:focus {
    border: 1px solid #4a90e2;
}
