.no-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.no-access > span {
    text-align: center;
}

.no-access > a {
    margin-top: 10px;
}

.no-access > a > button {
    width: 100%;
}